body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393E46;
    color: #333;
}

h1 {
    font-family: Khmer OS Moul light;
    color: #00d1b2;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #00d1b2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: center;
    align-items: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    font-family: Khmer;
}

input, select, button {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Khmer;

}
select{
    width: 100%;
    
}

button {
    background-color: #222831;
    color: #eee;
    cursor: pointer;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #00ADB5;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

#result {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
    margin-left:15px;
    font-family: Khmer;
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

/* Responsive សម្រាប់phone */
@media screen and (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    input, select, button {
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}
